@use "../../assets/sytles/_vars" as *;
@use "../../assets/sytles/_mixins" as *;

.about {
  @include bg-section("../../assets/images/about-bg.jpg");
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  &__box {
    max-width: 1400px;
    padding: 0 15px;
    background-color: $white;
    border-radius: 15px;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  &__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    @media (min-width: 768px) {
      //md
      font-size: 32px;
    }
  }
  &__text {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    padding-left: 45px;
  }
  &__text::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/tree.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
  }
  &__text span {
    font-weight: 700;
  }
  &__descr {
    color: $red;
    text-align: center;
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}
