@use "../../assets/sytles/_vars" as *;
.card{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) !important;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .5s;
    &:hover{
        box-shadow: 4px 4px 8px 0px rgba($red, .5) !important;
    }
    &-img-top{
        border-radius: 20px 20px 0 0;
    }
    &-text{
        opacity: 0.8;
    }
    &__spec span {
        font-weight: 700;
    }
}