@use "../../assets/sytles/_vars" as *;
.card{
    box-shadow: $shadow;
    border-radius: 20px;
    height: 100%;
    cursor: pointer;
    transition: all ease .5s;
    justify-content: space-between !important;
    &:hover{
        box-shadow: $shadow-hover;
    }
    &-img-top{
        border-radius: 20px 20px 0 0;
        max-height: 250px !important;
    }
    &-text{
        opacity: 0.8;
    }
    &__spec span {
        font-weight: 700;
    }
    
}