@use "../../assets/sytles/_mixins" as *;
@use "../../assets/sytles/_vars" as *;
.plant {
  @include bg-section("../../assets/images/catalog-bg.jpg");
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  &__inner {
    @include content-box();
    padding: 0 20px 0 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    min-height: 480px;
    @media (max-width: 700px) {
      padding: 0 20px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    @media (min-width: 900px) {
      flex-wrap: nowrap;
    }
  }
  &__info {
    margin-right: 30px;
    margin-left: 30px;
    flex: 1;
    max-width: 400px;
    text-align: center;
    @media (max-width: 900px) {
      order: 0; 
    }
  }
  &__img-wrapper {
    width: 100%;
    max-width: 300px;
    height: 480px;
    overflow: hidden;
    margin-right: 20px;
    @media (max-width: 600px) {
      width: auto;
      height: auto;
      max-width: none;
      margin: 0 auto;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: block;
    margin-top: 0;
    @media (max-width: 600px) {
      object-fit: cover;
      border-bottom-left-radius: 0;
      height: auto;
      border-radius: 15px;
    }
  }
  &__img--sample {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    @media (max-width: 600px) {
      height: 100%;
    }
  }
  &__title {
    margin-top: 30px;
    font-size: 30px;
    @media (max-width: 900px) {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  &__text {
    text-align: center;
    font-size: 18px;
    @media (max-width: 900px) {
      font-size: 14px;
    }
  }
  &__table {
    flex: 1;
    width: 100%;
    max-width: 400px;
    @media (max-width: 900px) {
      width: 100%;
      margin: 0 auto;
      order: 1;
      margin-top: 20px;
    }
  }
}
