@use "./vars" as *;
@use "./_fonts.css" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: $black !important;
}
li,
ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}
body {
  font-family: $inter !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
input,
textarea,
button {
  font-family: $inter !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.btn {
  background-color: $red !important;
  transition: all 0.5s ease !important;
  border: 1px solid $red !important;
  color: $white !important;
  &:hover {
    color: $red !important;
    background-color: $white !important;
  }
}
.title {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  @media (min-width: 768px) {
    //md
    font-size: 32px;
  }
}
