@use "../../assets/sytles/_vars" as *;

.search {
    position: relative;
    width: 100%;
    &__input {
      outline: none;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
    }
    &__suggestions {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      background: $white;
      border-left: 3px solid $black;
      border-bottom: 3px solid $black;
      max-height: 150px;
      overflow-y: auto;
      z-index: 1000;
      border-radius: 15px;
    }
    &__suggestions-item {
      padding: 5px 10px !important;
      
      cursor: pointer;
    }
    &__suggestions-item:hover {
      background: #f0f0f0;
    }
  }