@use "../../assets/sytles/_vars" as *;
@use "../../assets/sytles/_mixins" as *;

.filter {
  @include content-box();
  margin-right: 20px;
  padding: 30px 20px;
  align-self: flex-start;
  &__title,
  .filter__pots-title {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    @media (min-width: 530px) {
      font-size: 22px;
    }
  }
  &__pots{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__pots-title {
    margin-top: 20px;
  }
  &__box {
    border-bottom: 2px solid $black;
  }
  &__category,
  .filter__genus {
    cursor: pointer !important;
    transition: all ease 0.5s;
    margin: 0;
  }
  &__btn {
    margin-left: 30px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    @media (min-width: 530px) {
      font-size: 14px;
    }
  }
  &__category--active,
  .filter__genus--active {
    color: $red;
  }
  &__category:hover,
  .filter__genus:hover {
    color: $red;
  }
  &__genuses {
    margin-left: 10px;
    @media (min-width: 530px) {
      margin-left: 30px;
    }
  }
  &__genus {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    @media (min-width: 530px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__category {
    font-size: 16px;
    font-weight: 700;
    @media (min-width: 530px) {
      font-size: 22px;
    }
  }
}

.form-check-input {
  &:checked {
    background-color: $red;
    border-color: $red;
  }

  &:focus {
    border-color: $red;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-red-rgb), 0.25);
  }
}

.form-check-label--active {
  color: $red;
}
