@use "../../assets/sytles/_mixins" as *;
@use "../../assets/sytles/_vars" as *;
.vacancy {
  box-shadow: $shadow;
  @include content-box();
  margin-top: 0;
  padding-top: 20px;
  &__text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  &__list {
    margin: 0;
    margin-bottom: 15px;
  }
  &__list-item {
    padding-left: 25px !important;
  }
  &__list-item span {
    font-weight: 700;
  }
  &__list-phone::before,
  &__list-mail::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: -25px;
    top: 0;
  }
  &__list-phone {
    position: relative;
    &::before {
      background-image: url("../../assets/images/phone.svg");
    }
  }
  &__list-mail {
    position: relative;
    &::before {
      background-image: url("../../assets/images/mail.svg");
    }
  }
}
